@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3','Kozuka Mincho Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;		
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {

}
.wrapper{
	max-width : $container_width;
	margin : 0px auto;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 10px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;		
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid $border_color;
		}
	}
}


/* LAYOUT */

#top{	
	.top-text{
		float : left;
		padding-top: 10px;		
		font-size: 14px;
		color: $sub_color1;
	}
	.top-links{
		list-style: none;
		margin:0;
		padding: 0;
		float: right;
		li{
			float: left;
			background : transparent url("../img/common/header_navi_space.jpg") no-repeat left 0 scroll;						
			line-height: 33px;
			a{				
				padding : 13px 20px 0 10px;
				color: $sub_color1;
			}			
			a:hover{
				color: $text_color;
			}
		}
		li:last-child{
			a{
				padding: 13px 0 0 10px;
			}
		}
	}	
}

header{	
	background : #f7f8f8 url("../img/common/header_top.jpg") no-repeat center 0 scroll;						
	height: 57px;	
	margin-top: 25px;
	.header_content{	
		.logo{
			float : left;
			margin-top: -20px;
		}		
	}
}


nav{	
	padding-top: 10px;
	background-color: #f7f8f8;
	border-bottom: 4px solid #e2e3e3;
	/* dynamic */	
	#gNavi .dynamic {			
		margin: 0px;
		padding: 0px;    
		list-style: none;
		float: left;
	}
	#gNavi .dynamic li {
		float: left;    		
		background : transparent url("../img/common/top_gnav_space.jpg") no-repeat left 0 scroll;						
		height: 51px;
		width: 135px;
	}	
	 #gNavi .navi-space{
		background : transparent url("../img/common/top_gnav_space.jpg") no-repeat right 0 scroll;	
		height: 51px;
	}
	#gNavi .dynamic li a {	
		text-align: center;
		color: #fff;
		display: block;    
		padding-top: 13px;
	}	
	
	#gNavi .dynamic li a span {
		display: block;
		text-align: center;    
	}
	#gNavi .dynamic li a span.first {
		color : $sub_color1;
		font-size: 17px !important;
		line-height: 17px; 
	}
	#gNavi .dynamic li a span.second {		
		font-size: 8px !important; 
		color: #898989;
	}
	#gNavi .dynamic li a:hover {		
		span.first{ color : $link_color; }
	}
	#gNavi .dynamic li.naviw1{		
		width: 110px;
	}
	#gNavi .dynamic li.naviw2{		
		width: 150px;
	}
	#gNavi .dynamic li.naviw3{		
		width: 240px;
	}
	#gNavi .dynamic li.navilast{		
		padding-left: 5px;
	}
	/* end gNavi */	
}

#slider{	
	/*.bx-wrapper{
		.bx-viewport{
			left : 0;
			border : none;
			box-shadow : none;
		}
	}*/
	background : transparent url("../img/common/slider_bg.jpg") repeat-x 0 0 scroll;	
	.slider-content{		
		background : transparent url("../img/common/banner_slider_img1.jpg") no-repeat center 0 scroll;						
		height: 470px;
		margin: 0 auto;	
	}		
}
              
#page-feature{			
	height: 90px;
	background-color: #b6e3de;	
	margin-bottom: 30px;
	.feature-info{
	background : transparent url("../img/common/h2_title.jpg") no-repeat center 0 scroll;								
	height: 119px;	
	position : relative;
		.page-feature-content{											
			.feature-title{			
				top : 25px;			
				position : absolute;
				color: $sub_color2;
				text-shadow: 3px 3px 3px #76c2ba;
				line-height: 0.7em;
				.title-small{
					font-size: 12px;
					color: #898989;
					text-shadow: none;
					text-transform: uppercase;
				}
			}
			
		}	
		.page-breadcrumb{						
			position: absolute;
			top: 100px;					
			.home{
				text-decoration: underline;
				color: $main_color;
			}
			a:hover{
				text-decoration: none;
			}		
		}	
			
	}
		
}	

#maintop{
	/* message-group */
	background-color: #efefef;	
	height: 370px;
	padding-top: 15px;
	.maintop-group{		
		.maintop-row{
			margin-top: 20px;
			.maintop-col{
				float : left;
			}
		}
		.maintop-row:first-child{
			margin-top: 0;
		}
	}
	.maintop-group.maintop-col340{
		.maintop-col{
			box-shadow: 0 0 1px 2px #e6e6e5;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 10px;	
			width: 340px;						
			margin-left: 20px;				
			position: relative;			
			.maintop-title{		
				position: absolute;
				top: 7px;
				width: 340px;
				text-align: center;
				color: $sub_color2;
				.maintop-small{				
					font-size: 18px;
					text-shadow: 2px 2px 2px #5e758f;
					padding-bottom: 4px;
				}
				.maintop-large{	
					text-shadow: 2px 2px 2px #5e758f;				
					font:{
						size: 25px;
						weight: bold;
					}
				}
			}
			
			.maintop-text{
				position: absolute;
				bottom: 20px;
				padding: 0 15px;	
				width: 340px;				
				text-align: center;
				color: #727171;
				font:{
					size: 17px;
					weight: bold;
				}
				.maintop-clr{
					color: #d65d7c;
				}
			}				
		}
		.maintop-col:first-child{
			margin-left: 0;
		}
	}		
}

#content{
	padding : 20px 0px 55px;
	/*.primary-row{
		margin-top : 30px;
		.primary-row{
			margin-top: 20px;
		}
	}

	.primary-row:first-child{
		margin-top: 0;
	}*/

	/* message */
	.message-left{
		.image{
			float : left;
		}
		.text{
			margin-left: 20px;
			float : left;
		}
	}

	.message-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 20px;
		}
	}

	.message-280{
		.image{ width : 280px; }
		.text{ width : $primary_width - 280px - 20px; }
	}
	
	.message-305{
		.image{ width : 305px; }
		.text{ width : $primary_width - 305px - 20px; }
	}
	
	.message-185{
		.image{ width : 185px; }
		.text{ width : 405px;}
	}

	/* message-group */
	.message-group{
		.message-row{
			margin-top: 20px;
			.message-col{
				float : left;
			}
		}
		.message-row:first-child{
			margin-top: 0;
		}
	}
	.message-group.message-col240{
		.message-col{
			width: 240px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	.message-group.message-col370{
		.message-col{
			width: 370px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	.message-classic{
		.message-col{
			padding: 10px;
			box-shadow: 0 0 4px 4px #e9e9e9;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;			
			.title{
				color : $main_color;
				font-size: 16px;
				line-height: 30px;
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.text{
				margin-top : 7px;
				line-height: 1.5em;
			}
		}
	}

	/* heading */
		
	.h3-title{
		background : $bg_color url("../img/common/h3_title.jpg") no-repeat 0 0 scroll;
		line-height: 54px;
		margin-bottom: 18px;
		font-size: 24px;
		color: $sub_color2;
		padding-left: 20px;
	}
		
	.h4-title{
		color: #5675a8;
		font-size: 14px;
		background-color: #e9f5ff;
		border: 1px solid #bbe8fb;
		@include border_radius(5px);
		padding: 12px;
		margin-bottom: 15px;
	}
	/* sideNavi */
	#sideNavi{		
		margin-top: 5px;
		.title{			
			color : #4fb2a8;			
			text-align: center;
			line-height: 40px;
			font-size: 16px;
			border-top: 1px solid #4fb2a8;
			border-bottom: 1px solid #4fb2a8;
		}
		ul{
			list-style: none;
			margin : 0;
			padding : 0;
			li{
				border-bottom: 2px dotted #dfdfdf;
				a{
					color: $sub_color3;
					display: block;
					line-height: 35px;					
				}
				a:hover{
					color : $main_color;					
				}
			}
			li:last-child{
				border-bottom: none;
			}
		}
	}	
	
	/* side-con */
	.side-con{
		position : relative;
		width: 280px;
		color: $sub_color2;
		.side-con-title{
			width: 280px;
			position : absolute;
			top: 10px;
			text-align: center;
			font-size: 16px;
		}
		.side-con-text1{
			position : absolute;
			top: 10px;
			padding: 40px 0 0 20px;			
			font-size: 17px;
		}
		
		.side-con-text2{
			position : absolute;
			top: 100px;
			padding-left: 20px;
			font-size: 16px;
		}
		
		.side-con-text3{
			position : absolute;
			bottom: 108px;
			padding-left: 20px;
			font-size: 16px;
		}
		.side-con-btn{
			position : absolute;
			bottom : 15px;
			left : 50px;
			a:hover{
				@include border_radius(10px);
			}
		}	
	}
	.side-con-text{
		color: $sub_color3;
		background-color: #efefef;
		padding: 10px 20px;
		border-radius: 0 0 5px 5px;
	}
	
	.side-service{
		margin-top: 5px;
	}
	
}


/* CONTACT FORM */
/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}
	
	.wpcf7-submit {

	}
	table tr th,td{ font-size : 13px; }
	input{
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
}


footer{	
	border-top: 6px solid #6dc7be;
	.footer-content{
		padding-top: 15px;
		background-color: #fbfaf5;
		.footer-content1{
			.footer-content1-text{
				color: $sub_color1;	
				float: left;
			}
			.footer-content1-btn{
				float: right;
				a:hover{
					@include border_radius(10px);
				}
			}
		}
		
		.footer-content2{
			.footer-content2-logo{
				float: left;
			}
			.footer-content2-tel{
				margin-top: 20px;
				float: right;
			}
		}							
	}
	.footer-content-navi1{	
			margin-top: 20px;
			border-top: 1px solid #75cac1;				
			ul{
				padding-left: 80px;
				text-align: center;
				list-style: none;
				margin: 0;				
				li{
					float: left;
					display: inline-block;;
					padding: 0 5px;
					line-height: 30px;
					a{
						color: $sub_color1;
					}
					a:hover{
						color: $text_color;
					}
				}
			}
		}	
	.footer-content-navi2{	
		background-color: #dcdddd;			
		height: 34px;
			ul{
				list-style: none;
				margin: 0;
				padding-left: 480px;				
				li{					
					float: left;
					display: inline-block;;
					padding: 0 5px;
					line-height: 34px;
					a{
						color: $sub_color3;
					}
					a:hover{
						color: $sub_color1;
					}
				}				
			}
		}
	.footer-copyright{
		text-align: center;
		background-color: #6dc7be;
		color: $sub_color2;
		font-size: 12px;
		line-height: 30px;
		height: 30px;
	}
}
