@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/* part */

.sideBlog{
	.sideBlog-title{
		color: $sub_color1;
		font-size: 16px;
		line-height: 30px;
		border-bottom: 2px solid $sub_color1;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 10px;
		list-style: none;
		a:hover{
			color: $main_color;
		}
	}
}
#part-blog{
	.part-blog-content{		
		padding: 10px 15px;	
		.item{
			border-top : 1px dotted $border_color;
			.date{
				color : #2369ae;
				font-weight: bold;
				float : left;
				width: 100px;
			}
			.date,.title{
				line-height: 40px;
			}
		}
		.item:first-child{
			border-top : none;
		}
	}
}

/* page content */
#content{
	
	/* top */
	.top-content-info1{
		background : transparent url("../img/content/top_content_img1.jpg") no-repeat 0 0 scroll;
		position: relative;
		height: 245px;
		.top-info1-text1{
			position: absolute;
			top: 20px;
			right: 20px;
			color: #543820;
			font:{
				size: 22px;
				weight: bold;
			}
		}
		
		.top-info1-text2{
			position: absolute;
			top: 55px;
			right: 20px;
			color: #543820;
			font:{
				size: 35px;
				weight: bold;
			}
		}
		
		.top-info1-text3{
			width: 400px;
			position: absolute;
			top: 110px;
			right: 25px;
			color: #543820;
			.top-info1-t3left{
				float: left;
				font:{
					size: 19px;
					weight: bold;
				}	
			}
			.top-info1-t3right{
				margin-top: -5px;
				float: right;
				color: #f36438;
				font-size: 47px;
				.top-info1-unit{
					font:{
						size: 25px;
						weight: bold;
					}
				}
			}			
		}
		.top-info1-text4{
			@extend .top-info1-text3;
			top: 165px;
		}
		.top-info1-btn{
			position: absolute;			
			bottom: 10px;
			right: 20px;
			a:hover{
				@include border_radius(10px);
			}
		}
	}
	
	
	.top-content-info2{
		background : transparent url("../img/content/top_content_img2.jpg") no-repeat 0 0 scroll;
		position: relative;
		height: 518px;
		.top-info2-content{			
			position: absolute;
			width: 345px;
			top: 123px;
			left: 108px;
			.top-info2{
				.top-info2-text1{
					font-size: 18px;
					font-weight: bold;
					color: #132378;
				}
				.top-info2-text2{
					margin-top: 10px;
					color: #333;
				}				
			}
		}
		.top-info2-space{
			margin-top: 2px;
		}		
	}
	
	.top-content-info3{
		background : $bg_color url("../img/content/top_content_img3.jpg") no-repeat 0 0 scroll;
		height: 338px;
		position: relative;
		.top-info3-title{
			position: absolute;
			top: 35px;
			left: 120px;
			font-size: 35px;
			color: $sub_color2;
		}
		.top-info3-text{
			position: absolute;
			top: 85px;
			left: 100px;
			ul{
				list-style: none;
				padding: 0px;
				margin: 0px;
				float: left;
				li{
					line-height: 42px;					
					font-size: 20px;
					color: #333;
				}				
			}			
		}
	}
	
	.top-content-info4{
		background : $bg_color url("../img/content/top_content_img4.jpg") no-repeat 0 0 scroll;
		height: 240px;
		position: relative;
		.top-info4-title{
			position: absolute;
			top: 53px;
			left: 239px;			
			color: #51a956;
			font:{
				size: 18px;
				weight: bold;
			}
		}
		.top-info4-text1{
			position: absolute;
			top: 95px;
			left: 232px;
			color: #444;
			font:{
				size: 31px;
				weight: bold;
			}			
		}
		.top-info4-text2{
			position: absolute;
			bottom: 35px;
			left: 232px;
			color: #444;
			width: 520px;
			text-align: center;
			line-height: 1.3em;
			font:{
				size: 25px;
				weight: bold;
			}			
		}	
	}
	
	.top-content-info5{
		background : transparent url("../img/content/top_content_img5.jpg") no-repeat 0 0 scroll;
		position: relative;
		height: 211px;
		.top-info5-btn{
			position: absolute;
			bottom: 23px;
			right: 215px;
			a:hover{
				@include border_radius(10px);
			}
		}
	}
	
	.top-box-content{
		margin-bottom: 20px;
		position: relative;
		height: 347px;
		.box-title{
			position: absolute;			
			top: 158px;
			left: 20px;
			font-size: 16px;
		}
		.box-text{
			position: absolute;
			border-top: 1px solid #82b3de;
			padding-top: 10px;
			top: 183px;
			left: 20px;
		}
		.box-btn{
			margin-top: 10px;
			float: right;
		}
	}
	
	.top-flow-content{		
		position: relative;
		height: 272px;
		.flow-title{
			position: absolute;			
			color: #4fb2a8;
			top: 67px;			
			width: 240px;
			text-align: center;
			font:{
				size: 24px;
				weight: bold;
			}
		}
		.flow-text{
			position: absolute;
			color: #595757;
			padding-top: 10px;
			top: 190px;
			width: 240px;
			text-align: center;
			padding: 0 5px;
			font-size: 13px;
		}		
	}
	
	.top-flow-step7{		
		position: relative;	
		margin-top: 20px;
		.flow-step7-title{
			position: absolute;			
			color: #4fb2a8;
			top: 37px;			
			left: 230px;
			font:{
				size: 39px;
				weight: bold;
			}
		}
		.flow-step7-text{
			position: absolute;
			color: #595757;
			padding-top: 10px;
			top: 30px;
			right: 30px;
			left: 560px;
			padding: 0 5px;
			font-size: 14px;
		}		
	}	
	
	.top-content-contact{
		background : transparent url("../img/content/top_contact_bg.jpg") no-repeat 0 0 scroll;
		position: relative;
		height: 138px;
		.top-contact-btn{
			position: absolute;
			top: 40px;
			right: 15px;
			a:hover{
				@include border_radius(10px);
			}
		}
	}
	
	
	/*-----page-faq----*/
	.faq-text{
		color: $sub_color3;
		.faq-space{
			padding-left: 14px;
		}
	}	
	
	.flowcomponent-group{		
		.flowcomponent-row{
			margin-top: 20px;			
			.flowcomponent-col{
				float : left;
			}
		}
		.flowcomponent-row:first-child{
			margin-top: 0;
		}
	}
	.flowcomponent-group.flowcomponent-col160{
		.flowcomponent-col{
			@include border_radius(160px);
			border: 1px solid #6c9bd2;				
			width: 160px;
			height: 160px;
			margin-left: 11px;					
			color: #6c9bd2;			
			.flowcomponent-title{				
				border-bottom: 2px dotted #95c5e4;
				padding: 14px 14px 0 14px; 			
				margin: 0 3px;
				text-align: center;
				font:{
					size: 23px;
					weight: bold;
				}
				.title_num{
					font-size: 34px;
				}
			}
			.flowcomponent-text{
				text-align: center;
				font-size: 16px;
				padding: 10px;
				line-height: 1.2em;
			}
			.flow-text-s20{
				font-size: 20px !important;
			}
			
			.flow-text-s14{
				font-size: 15px !important;				
				padding: 10px 0 0 0 !important;
			}			
		}
		.flow-bottom-note{
			float: right;
			margin-top: 15px;
			.flow-bottom-clr{	
				width: 42px;
				height: 21px;
				background: #6c9bd2;
				margin-right: 10px;
				float: left;
			}
		}
		
		.flowcomponent-clr{
			background-color: #6c9bd2 !important;
			color: #fff !important;
			.flowcomponent-title{				
				border-bottom: 2px dotted $sub_color2;;
				padding: 14px 14px 0 14px; 			
				margin: 0 3px;
				text-align: center;
				font:{
					size: 23px;
					weight: bold;
				}
				.title_num{
					font-size: 34px;
				}
			}
			
		}
		.flowcomponent-arrow{
			float: left;
			color: #ffb95a;
			font-size: 40px;
			line-height: 160px;
			margin-left: 11px;
		}
		.flowcomponent-col:first-child{
			margin-left: 0;
		}
	}	
	
	/*-----   page-analyze  ----*/
	.analyze-note{
		color: #008578;
		font-size: 12px;
		text-align: right;
	}
	.analyze-list{
		margin: 0;
		padding:0;
		list-style:none;
		li{
			line-height: 1.2em;
			border-bottom: 2px dotted #dfdfdf;
			padding-bottom: 7px;
			margin-top: 8px;
			color: $sub_color3;
			font-size: 24px;
			.analyze-step-small{
				font-size: 19px;
			}
		}
		li:first-child{
			margin-top: 0;
		}
	}
	.analyze-text{
		color: $sub_color3;
	}
	
	/*-----  page-beginner  ----*/
	.beginner-info{
		background : $bg_color url("../img/content/beginner_content_img2.png") no-repeat 0 0 scroll;
		height: 380px;
		position: relative;
		.beginner-info-text{
			position: absolute;
			top: 106px;
			left: 77px;
			ul{
				list-style: none;
				padding: 0px;
				margin: 0px;
				float: left;
				li{
					line-height: 40px;					
					font-size: 17px;
					color: $sub_color3;
					font-family: MS Gothic !important;
				}				
			}			
		}
	}
	
	.beginner-textslyle1{
		margin-top: 20px;
		text-align: center;
		color: #ee87b4;
		line-height: 1.3em;
		font:{
			size: 33px;
			weight: bold;
		}		
	}
	
	.beginner-list{
		margin: 0;
		padding:0;
		list-style:none;
		li{
			line-height: 1.2em;
			border-bottom: 2px dotted #dfdfdf;
			padding-bottom: 7px;			
			margin-top: 8px;			
			color: #4fb2a8;
			font-size: 21px;
			font-family: MS Gothic !important;
			.beginner-clr{
				color: #ff9c14;
			}
		}
		li:last-child{						
			border-bottom: none;
		}
		li:first-child{						
			margin-top: 0;
		}
	}
	
	.beginner-arrow1{
		padding-top: 20px;
		text-align: center;
	}
	
	.beginner-textslyle2{	
		padding-top: 10px;
		text-align: center;		
		line-height: 1.3em;
		font-size: 23px;	
	}
	
	.beginner-arrow2{
		padding-top: 20px;
		text-align: center;
	}
	.beginner-textslyle3{	
		padding-top: 20px;
		text-align: center;				
		font-size: 25px;
	}
	.beginner-textslyle4{	
		padding-top: 20px;
		text-align: center;				
		font-size: 30px;
		color: $sub_color1;
		.beginner-textslyle4-1{
			color: #ffb200;
			font:{
				size: 58px;
				weight: bold;
			}
		}
		.beginner-textslyle4-2{			
			font:{
				size: 58px;
				weight: bold;
			}
		}
	}
	
	/*-----  page-flow  ----*/
	.flow-content-first{
		.flow-step{
			text-transform: uppercase;
			color: $sub_color2;
			width: 110px;
			text-align: right;
			padding: 20px 10px 0 30px;
			background-color: #7b9cd4; 
			height: 168px;
			float: left;
			font:{
				size: 23px;
				weight: bold;
			}	
			.flow-step-num{
				font-size: 34px;
			}
		}
		.flow-info-first{
			margin-left: 110px;
			background-color: #eaf4ff;
			.flow-title{
				padding-top: 20px;
				padding-bottom: 10px;
				font-size: 24px;
				color: #7b9cd4;
			}
			.flow-contact{
				background : $bg_color url("../img/content/flow_contact_bg.jpg") no-repeat 0 0 scroll;
				height: 49px;
				position: relative;
				.flow-contact-btn{
					position: absolute;
					top: 10px;
					right: 10px;
				}
			}
		}
	}
	
	.flow-content{
		.flow-step{
			text-transform: uppercase;
			color: $sub_color2;
			width: 110px;
			text-align: right;
			padding: 20px 10px 0 30px;
			background-color: #7b9cd4; 			
			float: left;
			font:{
				size: 23px;
				weight: bold;
			}	
			.flow-step-num{
				font-size: 34px;
			}
		}
		.flow-info{
			margin-left: 110px;
			background-color: #eaf4ff;
			padding: 20px 20px 0 20px;
			.flow-title{				
				padding-bottom: 10px;
				font-size: 24px;
				color: #7b9cd4;
			}
			.flow-contact{
				background : $bg_color url("../img/content/flow_contact_bg.jpg") no-repeat 0 0 scroll;
				height: 49px;
				position: relative;
				.flow-contact-btn{
					position: absolute;
					top: 10px;
					right: 10px;
				}
			}
		}
	}
	
	.flow-step2{
		height: 154px;
	}
	.flow-step3{
		height: 155px;
	}
	.flow-arrow{
		text-align: center;
	}
	
	/*-----  page-import  ----*/
	.import-list{
		margin: 0;
		padding:0;
		list-style:none;
		li{
			line-height: 1.2em;
			border-bottom: 2px dotted #4fb2a8;
			padding-bottom: 7px;			
			margin-top: 8px;			
			color: #4fb2a8;
			font-size: 21px;
			font-family: MS Gothic !important;			
		}		
		li:first-child{						
			margin-top: 0;
		}
	}
	
	.import-note{
		color: #4fb2a8;
		font-size: 29px;
		text-align: center;
		margin-top: 30px;
	}
	
	.importcomponent-group{		
		.importcomponent-row{
			margin-top: 20px;
			position: relative;
			.import-space{
				position: absolute;
				bottom: -47px;
				left: -43px;
				width: 760px;
				text-align: center;
				z-index: -9999;
			}
			.importcomponent-col{				
				float : left;
			}
		}
		.importcomponent-row:first-child{
			margin-top: 0;
		}
		.importcomponent-bg{
			z-index: 9999;
		}
	}
	.importcomponent-group.importcomponent-col160{
		.import-other-col{			
			width: 166px;			
			float: left;
			margin-left: 10px;
			.import-other-info{				
				border: 1px solid #6c9bd2;
				padding: 10px 5px;
				@include border_radius(8px);
				background-color: #eaf4ff;
				.other-title{
					color: #6c9bd2;
					font-size: 16px;	
					.fa{
						padding-right: 5px;
						font-size: 25px;
					}
				}
				.other-text{
					padding-top: 8px;
					font-size: 11px;
					line-height: 1.3em !important;
				}
			}	
			.import-other-oinfo{
				height: 77px;				
				border: 1px solid #6c9bd2;
				padding: 25px 5px;
				@include border_radius(8px);
				background-color: #eaf4ff;
				.other-title{
					color: #6c9bd2;
					font-size: 16px;
					line-height: 16px;
					.fa{
						padding-right: 5px;
						font-size: 25px;
					}
					.other-space{
						margin-top: 10px;
					}
				}
			}
		}
		.importcomponent-col{
			@include border_radius(160px);
			border: 1px solid #6c9bd2;				
			width: 160px;
			height: 160px;
			margin-left: 10px;					
			color: #6c9bd2;	
			background-color: $sub_color2;
			.importcomponent-title{				
				border-bottom: 2px dotted #95c5e4;
				padding: 14px 14px 0 14px; 			
				margin: 0 3px;
				text-align: center;
				font:{
					size: 23px;
					weight: bold;
				}
				.title_num{
					font-size: 34px;
				}
			}
			.importcomponent-text{
				text-align: center;
				font-size: 16px;
				padding: 10px;
				line-height: 1.2em;
			}
			.importcomponent-text-s20{
				font-size: 20px !important;
			}
			
			.importcomponent-text-s18{
				font-size: 17px !important;		
			}
			
			.importcomponent-text-s13{
				font-size:13px !important;	
				padding: 10px 0 0 0 !important;				
			}
			
			.importcomponent-text-s16{
				font-size: 15px !important;				
				padding: 10px 0 0 0 !important;
			}			
		}
			
		.importcomponent-bottom-note{
			float: right;
			margin-top: 15px;
			.importcomponent-bottom-clr1{	
				width: 42px;
				height: 21px;
				background: #6c9bd2;
				margin-right: 8px;
				float: left;
			}
			.importcomponent-bottom-text1,.importcomponent-bottom-text2{
				float: left;
				font: {
					size: 14px;
					weight: bold;
				}
			}
			.importcomponent-bottom-clr2{	
				width: 42px;
				height: 21px;
				background: $sub_color2;
				border: 1px solid #709ed3;
				margin: 0 8px 0 20px;
				float: left;
			}
		}
		
		.importcomponent-clr{
			background-color: #6c9bd2 !important;
			color: #fff !important;
			.importcomponent-title{				
				border-bottom: 2px dotted $sub_color2;;
				padding: 14px 14px 0 14px; 			
				margin: 0 3px;
				text-align: center;
				font:{
					size: 23px;
					weight: bold;
				}
				.title_num{
					font-size: 34px;
				}
			}
		}
		.importcomponent-arrow{
			float: left;
			color: #ffb95a;
			font-size: 40px;
			line-height: 160px;
			margin-left: 10px;
		}
		.importcomponent-col:first-child{
			margin-left: 0;
		}
		.importcomponent-col:last-child{
			@include border_radius(160px);
			border: 1px solid #6c9bd2;				
			width: 160px;
			height: 160px;
			margin-left: 10px;					
			color: #6c9bd2;													
			background-color: #eaf4ff;
			.importcomponent-title{				
				border-bottom: 2px dotted #95c5e4;
				padding: 14px 14px 0 14px; 			
				margin: 0 3px;
				text-align: center;
				color: #6c9bd2;
				font:{
					size: 23px;
					weight: bold;
				}
				.title_num{
					font-size: 34px;
				}
			}
			.importcomponent-text{
				text-align: center;
				font-size: 20px;
				padding: 10px;				
			}
		}
	}	
	
	
	/*-----  page-blog  ----*/
	.check-table-content{
		margin-top: 20px;		
		tr th{
			padding: 10px 10px 10px 8px;
			border: 1px solid #4fb2a8;
		}
		tr th{
			background-color: #fffbc7;
			width: 230px;
			font-weight: normal;
		}
		tr td{
			padding: 10px 0 10px 8px;
			border: 1px solid #4fb2a8;
			background-color: #fffeee;
			.check-text-clr{
				color: #446191;
			}
		}
	}	
	.check-note1{
		margin-top: 10px;
		margin-bottom: 5px;
		border-bottom: 1px solid $sub_color3;
		padding-bottom: 3px;
	}
	.check-note2{
		margin-top: 10px;
		background-color: #fffbc7;
		color: #5675a8;
		padding: 10px;		
		font-size: 13.5px;
	}
	
	.checkcomponent-group{				
		.checkcomponent-row{
			margin-top: 20px;			
			.checkcomponent-col{
				float : left;
			}
		}
		.checkcomponent-row:first-child{
			margin-top: 0;
		}
	}
	.checkcomponent-group.checkcomponent-col160{
		.checkcomponent-col{
			@include border_radius(160px);
			border: 1px solid #6c9bd2;				
			width: 160px;
			height: 160px;
			margin-left: 11px;					
			color: #6c9bd2;			
			.checkcomponent-title{				
				border-bottom: 2px dotted #95c5e4;
				padding: 14px 14px 0 14px; 			
				margin: 0 3px;
				text-align: center;
				font:{
					size: 23px;
					weight: bold;
				}
				.title_num{
					font-size: 34px;
				}
			}
			.checkcomponent-text{
				text-align: center;
				font-size: 16px;
				padding: 10px;
				line-height: 1.2em;
			}
			.check-text-s20{
				font-size: 20px !important;
			}
			
			.check-text-s16{
				font-size: 15px !important;				
				padding: 10px 0 0 0 !important;
			}			
		}
		.checkcomponent-bottom-note{			
			margin-top: 138px;			
			.checkcomponent-bottom-clr{	
				width: 42px;
				height: 21px;
				background: #6c9bd2;
				margin-right: 10px;
				float: left;
			}
		}
		
		.checkcomponent-clr{
			background-color: #6c9bd2 !important;
			color: #fff !important;
			.checkcomponent-title{				
				border-bottom: 2px dotted $sub_color2;;
				padding: 14px 14px 0 14px; 			
				margin: 0 3px;
				text-align: center;
				font:{
					size: 23px;
					weight: bold;
				}
				.title_num{
					font-size: 34px;
				}
			}
		}
		.checkcomponent-arrow{
			float: left;
			color: #ffb95a;
			font-size: 40px;
			line-height: 160px;
			margin-left: 11px;
		}
		.checkcomponent-col:first-child{
			margin-left: 0;
		}
		.checkcomponent-space1{
			margin-left: 100px !important;
		}
		
		.checkcomponent-space2{
			margin-left: 200px !important;
		}
	}
	
	/*-----  page-blog  ----*/
	.post-row-content{	
		.blog-btnrm{			
			float: right;							
			a{
				padding: 5px 8px;
				@include border_radius(5px);
				background-color: $main_color;
				color: $bg_color;
			}
			a:hover{
				padding: 5px 8px;
				@include border_radius(5px);
				background-color: $sub_color2;
				color: $main_color;
				border: 1px solid $main_color;
			}
		}		
		.post-row-meta{
			.fa{
				padding: 0 5px 0 20px;
			}
			.fa:first-child{
				padding-right: 5px;
				padding-left: 0;
			}
			.blog-category{
				a{color: $main_color;}
			}
		}
		.blog-content{
			margin-top: 20px;
		}
	}
	.navigation{
		margin-top: 15px;
		a{color: $main_color;}
	}
	.wp-pagenavi{
		margin-top: 40px;		
		text-align: center;
		.pages{
			background-color: $main_color;
			color: #fff;
			
		}
		.previouspostslink{
			@extend .pages;
		}
		.page{
			@extend .pages;
		}
		.nextpostslink{
			@extend .pages;
		}	
		span.current {
			border-color: $main_color !important;
		}
	}	
}