@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #6bbeb6;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #b2ddd9; }

a:link {
  color: #666666; }

a:visited {
  color: #666666; }

a:hover {
  color: #666666; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #595757;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3','Kozuka Mincho Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
.wrapper {
  max-width: 1060px;
  margin: 0px auto; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 10px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #cccccc; }

/* LAYOUT */
#top .top-text {
  float: left;
  padding-top: 10px;
  font-size: 14px;
  color: #008578; }
#top .top-links {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right; }
  #top .top-links li {
    float: left;
    background: transparent url("../img/common/header_navi_space.jpg") no-repeat left 0 scroll;
    line-height: 33px; }
    #top .top-links li a {
      padding: 13px 20px 0 10px;
      color: #008578; }
    #top .top-links li a:hover {
      color: #595757; }
  #top .top-links li:last-child a {
    padding: 13px 0 0 10px; }

header {
  background: #f7f8f8 url("../img/common/header_top.jpg") no-repeat center 0 scroll;
  height: 57px;
  margin-top: 25px; }
  header .header_content .logo {
    float: left;
    margin-top: -20px; }

nav {
  padding-top: 10px;
  background-color: #f7f8f8;
  border-bottom: 4px solid #e2e3e3;
  /* dynamic */
  /* end gNavi */ }
  nav #gNavi .dynamic {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left; }
  nav #gNavi .dynamic li {
    float: left;
    background: transparent url("../img/common/top_gnav_space.jpg") no-repeat left 0 scroll;
    height: 51px;
    width: 135px; }
  nav #gNavi .navi-space {
    background: transparent url("../img/common/top_gnav_space.jpg") no-repeat right 0 scroll;
    height: 51px; }
  nav #gNavi .dynamic li a {
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 13px; }
  nav #gNavi .dynamic li a span {
    display: block;
    text-align: center; }
  nav #gNavi .dynamic li a span.first {
    color: #008578;
    font-size: 17px !important;
    line-height: 17px; }
  nav #gNavi .dynamic li a span.second {
    font-size: 8px !important;
    color: #898989; }
  nav #gNavi .dynamic li a:hover span.first {
    color: #666666; }
  nav #gNavi .dynamic li.naviw1 {
    width: 110px; }
  nav #gNavi .dynamic li.naviw2 {
    width: 150px; }
  nav #gNavi .dynamic li.naviw3 {
    width: 240px; }
  nav #gNavi .dynamic li.navilast {
    padding-left: 5px; }

#slider {
  /*.bx-wrapper{
  	.bx-viewport{
  		left : 0;
  		border : none;
  		box-shadow : none;
  	}
  }*/
  background: transparent url("../img/common/slider_bg.jpg") repeat-x 0 0 scroll; }
  #slider .slider-content {
    background: transparent url("../img/common/banner_slider_img1.jpg") no-repeat center 0 scroll;
    height: 470px;
    margin: 0 auto; }

#page-feature {
  height: 90px;
  background-color: #b6e3de;
  margin-bottom: 30px; }
  #page-feature .feature-info {
    background: transparent url("../img/common/h2_title.jpg") no-repeat center 0 scroll;
    height: 119px;
    position: relative; }
    #page-feature .feature-info .page-feature-content .feature-title {
      top: 25px;
      position: absolute;
      color: white;
      text-shadow: 3px 3px 3px #76c2ba;
      line-height: 0.7em; }
      #page-feature .feature-info .page-feature-content .feature-title .title-small {
        font-size: 12px;
        color: #898989;
        text-shadow: none;
        text-transform: uppercase; }
    #page-feature .feature-info .page-breadcrumb {
      position: absolute;
      top: 100px; }
      #page-feature .feature-info .page-breadcrumb .home {
        text-decoration: underline;
        color: #6bbeb6; }
      #page-feature .feature-info .page-breadcrumb a:hover {
        text-decoration: none; }

#maintop {
  /* message-group */
  background-color: #efefef;
  height: 370px;
  padding-top: 15px; }
  #maintop .maintop-group .maintop-row {
    margin-top: 20px; }
    #maintop .maintop-group .maintop-row .maintop-col {
      float: left; }
  #maintop .maintop-group .maintop-row:first-child {
    margin-top: 0; }
  #maintop .maintop-group.maintop-col340 .maintop-col {
    box-shadow: 0 0 1px 2px #e6e6e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    width: 340px;
    margin-left: 20px;
    position: relative; }
    #maintop .maintop-group.maintop-col340 .maintop-col .maintop-title {
      position: absolute;
      top: 7px;
      width: 340px;
      text-align: center;
      color: white; }
      #maintop .maintop-group.maintop-col340 .maintop-col .maintop-title .maintop-small {
        font-size: 18px;
        text-shadow: 2px 2px 2px #5e758f;
        padding-bottom: 4px; }
      #maintop .maintop-group.maintop-col340 .maintop-col .maintop-title .maintop-large {
        text-shadow: 2px 2px 2px #5e758f;
        font-size: 25px;
        font-weight: bold; }
    #maintop .maintop-group.maintop-col340 .maintop-col .maintop-text {
      position: absolute;
      bottom: 20px;
      padding: 0 15px;
      width: 340px;
      text-align: center;
      color: #727171;
      font-size: 17px;
      font-weight: bold; }
      #maintop .maintop-group.maintop-col340 .maintop-col .maintop-text .maintop-clr {
        color: #d65d7c; }
  #maintop .maintop-group.maintop-col340 .maintop-col:first-child {
    margin-left: 0; }

#content {
  padding: 20px 0px 55px;
  	/*.primary-row{
  		margin-top : 30px;
  		.primary-row{
  			margin-top: 20px;
  		}
  	}
  
  	.primary-row:first-child{
  		margin-top: 0;
  	}*/
  /* message */
  /* message-group */
  /* heading */
  /* sideNavi */
  /* side-con */ }
  #content .message-left .image {
    float: left; }
  #content .message-left .text {
    margin-left: 20px;
    float: left; }
  #content .message-right .image {
    float: right; }
  #content .message-right .text {
    float: left;
    margin-right: 20px; }
  #content .message-280 .image {
    width: 280px; }
  #content .message-280 .text {
    width: 460px; }
  #content .message-305 .image {
    width: 305px; }
  #content .message-305 .text {
    width: 435px; }
  #content .message-185 .image {
    width: 185px; }
  #content .message-185 .text {
    width: 405px; }
  #content .message-group .message-row {
    margin-top: 20px; }
    #content .message-group .message-row .message-col {
      float: left; }
  #content .message-group .message-row:first-child {
    margin-top: 0; }
  #content .message-group.message-col240 .message-col {
    width: 240px;
    margin-left: 20px; }
  #content .message-group.message-col240 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col370 .message-col {
    width: 370px;
    margin-left: 20px; }
  #content .message-group.message-col370 .message-col:first-child {
    margin-left: 0; }
  #content .message-classic .message-col {
    padding: 10px;
    box-shadow: 0 0 4px 4px #e9e9e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #content .message-classic .message-col .title {
      color: #6bbeb6;
      font-size: 16px;
      line-height: 30px; }
    #content .message-classic .message-col .image img {
      max-width: 100%;
      height: auto; }
    #content .message-classic .message-col .text {
      margin-top: 7px;
      line-height: 1.5em; }
  #content .h3-title {
    background: white url("../img/common/h3_title.jpg") no-repeat 0 0 scroll;
    line-height: 54px;
    margin-bottom: 18px;
    font-size: 24px;
    color: white;
    padding-left: 20px; }
  #content .h4-title {
    color: #5675a8;
    font-size: 14px;
    background-color: #e9f5ff;
    border: 1px solid #bbe8fb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 15px; }
  #content #sideNavi {
    margin-top: 5px; }
    #content #sideNavi .title {
      color: #4fb2a8;
      text-align: center;
      line-height: 40px;
      font-size: 16px;
      border-top: 1px solid #4fb2a8;
      border-bottom: 1px solid #4fb2a8; }
    #content #sideNavi ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #content #sideNavi ul li {
        border-bottom: 2px dotted #dfdfdf; }
        #content #sideNavi ul li a {
          color: #595757;
          display: block;
          line-height: 35px; }
        #content #sideNavi ul li a:hover {
          color: #6bbeb6; }
      #content #sideNavi ul li:last-child {
        border-bottom: none; }
  #content .side-con {
    position: relative;
    width: 280px;
    color: white; }
    #content .side-con .side-con-title {
      width: 280px;
      position: absolute;
      top: 10px;
      text-align: center;
      font-size: 16px; }
    #content .side-con .side-con-text1 {
      position: absolute;
      top: 10px;
      padding: 40px 0 0 20px;
      font-size: 17px; }
    #content .side-con .side-con-text2 {
      position: absolute;
      top: 100px;
      padding-left: 20px;
      font-size: 16px; }
    #content .side-con .side-con-text3 {
      position: absolute;
      bottom: 108px;
      padding-left: 20px;
      font-size: 16px; }
    #content .side-con .side-con-btn {
      position: absolute;
      bottom: 15px;
      left: 50px; }
      #content .side-con .side-con-btn a:hover {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
  #content .side-con-text {
    color: #595757;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px; }
  #content .side-service {
    margin-top: 5px; }

/* CONTACT FORM */
/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }

footer {
  border-top: 6px solid #6dc7be; }
  footer .footer-content {
    padding-top: 15px;
    background-color: #fbfaf5; }
    footer .footer-content .footer-content1 .footer-content1-text {
      color: #008578;
      float: left; }
    footer .footer-content .footer-content1 .footer-content1-btn {
      float: right; }
      footer .footer-content .footer-content1 .footer-content1-btn a:hover {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
    footer .footer-content .footer-content2 .footer-content2-logo {
      float: left; }
    footer .footer-content .footer-content2 .footer-content2-tel {
      margin-top: 20px;
      float: right; }
  footer .footer-content-navi1 {
    margin-top: 20px;
    border-top: 1px solid #75cac1; }
    footer .footer-content-navi1 ul {
      padding-left: 80px;
      text-align: center;
      list-style: none;
      margin: 0; }
      footer .footer-content-navi1 ul li {
        float: left;
        display: inline-block;
        padding: 0 5px;
        line-height: 30px; }
        footer .footer-content-navi1 ul li a {
          color: #008578; }
        footer .footer-content-navi1 ul li a:hover {
          color: #595757; }
  footer .footer-content-navi2 {
    background-color: #dcdddd;
    height: 34px; }
    footer .footer-content-navi2 ul {
      list-style: none;
      margin: 0;
      padding-left: 480px; }
      footer .footer-content-navi2 ul li {
        float: left;
        display: inline-block;
        padding: 0 5px;
        line-height: 34px; }
        footer .footer-content-navi2 ul li a {
          color: #595757; }
        footer .footer-content-navi2 ul li a:hover {
          color: #008578; }
  footer .footer-copyright {
    text-align: center;
    background-color: #6dc7be;
    color: white;
    font-size: 12px;
    line-height: 30px;
    height: 30px; }

/* part */
.sideBlog .sideBlog-title {
  color: #008578;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 2px solid #008578;
  margin-bottom: 10px; }
.sideBlog ul {
  padding: 0px;
  margin: 0 0 0 10px;
  list-style: none; }
  .sideBlog ul a:hover {
    color: #6bbeb6; }

#part-blog .part-blog-content {
  padding: 10px 15px; }
  #part-blog .part-blog-content .item {
    border-top: 1px dotted #cccccc; }
    #part-blog .part-blog-content .item .date {
      color: #2369ae;
      font-weight: bold;
      float: left;
      width: 100px; }
    #part-blog .part-blog-content .item .date, #part-blog .part-blog-content .item .title {
      line-height: 40px; }
  #part-blog .part-blog-content .item:first-child {
    border-top: none; }

/* page content */
#content {
  /* top */
  /*-----page-faq----*/
  /*-----   page-analyze  ----*/
  /*-----  page-beginner  ----*/
  /*-----  page-flow  ----*/
  /*-----  page-import  ----*/
  /*-----  page-blog  ----*/
  /*-----  page-blog  ----*/ }
  #content .top-content-info1 {
    background: transparent url("../img/content/top_content_img1.jpg") no-repeat 0 0 scroll;
    position: relative;
    height: 245px; }
    #content .top-content-info1 .top-info1-text1 {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #543820;
      font-size: 22px;
      font-weight: bold; }
    #content .top-content-info1 .top-info1-text2 {
      position: absolute;
      top: 55px;
      right: 20px;
      color: #543820;
      font-size: 35px;
      font-weight: bold; }
    #content .top-content-info1 .top-info1-text3, #content .top-content-info1 .top-info1-text4 {
      width: 400px;
      position: absolute;
      top: 110px;
      right: 25px;
      color: #543820; }
      #content .top-content-info1 .top-info1-text3 .top-info1-t3left, #content .top-content-info1 .top-info1-text4 .top-info1-t3left {
        float: left;
        font-size: 19px;
        font-weight: bold; }
      #content .top-content-info1 .top-info1-text3 .top-info1-t3right, #content .top-content-info1 .top-info1-text4 .top-info1-t3right {
        margin-top: -5px;
        float: right;
        color: #f36438;
        font-size: 47px; }
        #content .top-content-info1 .top-info1-text3 .top-info1-t3right .top-info1-unit, #content .top-content-info1 .top-info1-text4 .top-info1-t3right .top-info1-unit {
          font-size: 25px;
          font-weight: bold; }
    #content .top-content-info1 .top-info1-text4 {
      top: 165px; }
    #content .top-content-info1 .top-info1-btn {
      position: absolute;
      bottom: 10px;
      right: 20px; }
      #content .top-content-info1 .top-info1-btn a:hover {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
  #content .top-content-info2 {
    background: transparent url("../img/content/top_content_img2.jpg") no-repeat 0 0 scroll;
    position: relative;
    height: 518px; }
    #content .top-content-info2 .top-info2-content {
      position: absolute;
      width: 345px;
      top: 123px;
      left: 108px; }
      #content .top-content-info2 .top-info2-content .top-info2 .top-info2-text1 {
        font-size: 18px;
        font-weight: bold;
        color: #132378; }
      #content .top-content-info2 .top-info2-content .top-info2 .top-info2-text2 {
        margin-top: 10px;
        color: #333; }
    #content .top-content-info2 .top-info2-space {
      margin-top: 2px; }
  #content .top-content-info3 {
    background: white url("../img/content/top_content_img3.jpg") no-repeat 0 0 scroll;
    height: 338px;
    position: relative; }
    #content .top-content-info3 .top-info3-title {
      position: absolute;
      top: 35px;
      left: 120px;
      font-size: 35px;
      color: white; }
    #content .top-content-info3 .top-info3-text {
      position: absolute;
      top: 85px;
      left: 100px; }
      #content .top-content-info3 .top-info3-text ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        float: left; }
        #content .top-content-info3 .top-info3-text ul li {
          line-height: 42px;
          font-size: 20px;
          color: #333; }
  #content .top-content-info4 {
    background: white url("../img/content/top_content_img4.jpg") no-repeat 0 0 scroll;
    height: 240px;
    position: relative; }
    #content .top-content-info4 .top-info4-title {
      position: absolute;
      top: 53px;
      left: 239px;
      color: #51a956;
      font-size: 18px;
      font-weight: bold; }
    #content .top-content-info4 .top-info4-text1 {
      position: absolute;
      top: 95px;
      left: 232px;
      color: #444;
      font-size: 31px;
      font-weight: bold; }
    #content .top-content-info4 .top-info4-text2 {
      position: absolute;
      bottom: 35px;
      left: 232px;
      color: #444;
      width: 520px;
      text-align: center;
      line-height: 1.3em;
      font-size: 25px;
      font-weight: bold; }
  #content .top-content-info5 {
    background: transparent url("../img/content/top_content_img5.jpg") no-repeat 0 0 scroll;
    position: relative;
    height: 211px; }
    #content .top-content-info5 .top-info5-btn {
      position: absolute;
      bottom: 23px;
      right: 215px; }
      #content .top-content-info5 .top-info5-btn a:hover {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
  #content .top-box-content {
    margin-bottom: 20px;
    position: relative;
    height: 347px; }
    #content .top-box-content .box-title {
      position: absolute;
      top: 158px;
      left: 20px;
      font-size: 16px; }
    #content .top-box-content .box-text {
      position: absolute;
      border-top: 1px solid #82b3de;
      padding-top: 10px;
      top: 183px;
      left: 20px; }
    #content .top-box-content .box-btn {
      margin-top: 10px;
      float: right; }
  #content .top-flow-content {
    position: relative;
    height: 272px; }
    #content .top-flow-content .flow-title {
      position: absolute;
      color: #4fb2a8;
      top: 67px;
      width: 240px;
      text-align: center;
      font-size: 24px;
      font-weight: bold; }
    #content .top-flow-content .flow-text {
      position: absolute;
      color: #595757;
      padding-top: 10px;
      top: 190px;
      width: 240px;
      text-align: center;
      padding: 0 5px;
      font-size: 13px; }
  #content .top-flow-step7 {
    position: relative;
    margin-top: 20px; }
    #content .top-flow-step7 .flow-step7-title {
      position: absolute;
      color: #4fb2a8;
      top: 37px;
      left: 230px;
      font-size: 39px;
      font-weight: bold; }
    #content .top-flow-step7 .flow-step7-text {
      position: absolute;
      color: #595757;
      padding-top: 10px;
      top: 30px;
      right: 30px;
      left: 560px;
      padding: 0 5px;
      font-size: 14px; }
  #content .top-content-contact {
    background: transparent url("../img/content/top_contact_bg.jpg") no-repeat 0 0 scroll;
    position: relative;
    height: 138px; }
    #content .top-content-contact .top-contact-btn {
      position: absolute;
      top: 40px;
      right: 15px; }
      #content .top-content-contact .top-contact-btn a:hover {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
  #content .faq-text {
    color: #595757; }
    #content .faq-text .faq-space {
      padding-left: 14px; }
  #content .flowcomponent-group .flowcomponent-row {
    margin-top: 20px; }
    #content .flowcomponent-group .flowcomponent-row .flowcomponent-col {
      float: left; }
  #content .flowcomponent-group .flowcomponent-row:first-child {
    margin-top: 0; }
  #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-col {
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border-radius: 160px;
    border: 1px solid #6c9bd2;
    width: 160px;
    height: 160px;
    margin-left: 11px;
    color: #6c9bd2; }
    #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-col .flowcomponent-title {
      border-bottom: 2px dotted #95c5e4;
      padding: 14px 14px 0 14px;
      margin: 0 3px;
      text-align: center;
      font-size: 23px;
      font-weight: bold; }
      #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-col .flowcomponent-title .title_num {
        font-size: 34px; }
    #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-col .flowcomponent-text {
      text-align: center;
      font-size: 16px;
      padding: 10px;
      line-height: 1.2em; }
    #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-col .flow-text-s20 {
      font-size: 20px !important; }
    #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-col .flow-text-s14 {
      font-size: 15px !important;
      padding: 10px 0 0 0 !important; }
  #content .flowcomponent-group.flowcomponent-col160 .flow-bottom-note {
    float: right;
    margin-top: 15px; }
    #content .flowcomponent-group.flowcomponent-col160 .flow-bottom-note .flow-bottom-clr {
      width: 42px;
      height: 21px;
      background: #6c9bd2;
      margin-right: 10px;
      float: left; }
  #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-clr {
    background-color: #6c9bd2 !important;
    color: #fff !important; }
    #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-clr .flowcomponent-title {
      border-bottom: 2px dotted white;
      padding: 14px 14px 0 14px;
      margin: 0 3px;
      text-align: center;
      font-size: 23px;
      font-weight: bold; }
      #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-clr .flowcomponent-title .title_num {
        font-size: 34px; }
  #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-arrow {
    float: left;
    color: #ffb95a;
    font-size: 40px;
    line-height: 160px;
    margin-left: 11px; }
  #content .flowcomponent-group.flowcomponent-col160 .flowcomponent-col:first-child {
    margin-left: 0; }
  #content .analyze-note {
    color: #008578;
    font-size: 12px;
    text-align: right; }
  #content .analyze-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    #content .analyze-list li {
      line-height: 1.2em;
      border-bottom: 2px dotted #dfdfdf;
      padding-bottom: 7px;
      margin-top: 8px;
      color: #595757;
      font-size: 24px; }
      #content .analyze-list li .analyze-step-small {
        font-size: 19px; }
    #content .analyze-list li:first-child {
      margin-top: 0; }
  #content .analyze-text {
    color: #595757; }
  #content .beginner-info {
    background: white url("../img/content/beginner_content_img2.png") no-repeat 0 0 scroll;
    height: 380px;
    position: relative; }
    #content .beginner-info .beginner-info-text {
      position: absolute;
      top: 106px;
      left: 77px; }
      #content .beginner-info .beginner-info-text ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        float: left; }
        #content .beginner-info .beginner-info-text ul li {
          line-height: 40px;
          font-size: 17px;
          color: #595757;
          font-family: MS Gothic !important; }
  #content .beginner-textslyle1 {
    margin-top: 20px;
    text-align: center;
    color: #ee87b4;
    line-height: 1.3em;
    font-size: 33px;
    font-weight: bold; }
  #content .beginner-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    #content .beginner-list li {
      line-height: 1.2em;
      border-bottom: 2px dotted #dfdfdf;
      padding-bottom: 7px;
      margin-top: 8px;
      color: #4fb2a8;
      font-size: 21px;
      font-family: MS Gothic !important; }
      #content .beginner-list li .beginner-clr {
        color: #ff9c14; }
    #content .beginner-list li:last-child {
      border-bottom: none; }
    #content .beginner-list li:first-child {
      margin-top: 0; }
  #content .beginner-arrow1 {
    padding-top: 20px;
    text-align: center; }
  #content .beginner-textslyle2 {
    padding-top: 10px;
    text-align: center;
    line-height: 1.3em;
    font-size: 23px; }
  #content .beginner-arrow2 {
    padding-top: 20px;
    text-align: center; }
  #content .beginner-textslyle3 {
    padding-top: 20px;
    text-align: center;
    font-size: 25px; }
  #content .beginner-textslyle4 {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    color: #008578; }
    #content .beginner-textslyle4 .beginner-textslyle4-1 {
      color: #ffb200;
      font-size: 58px;
      font-weight: bold; }
    #content .beginner-textslyle4 .beginner-textslyle4-2 {
      font-size: 58px;
      font-weight: bold; }
  #content .flow-content-first .flow-step {
    text-transform: uppercase;
    color: white;
    width: 110px;
    text-align: right;
    padding: 20px 10px 0 30px;
    background-color: #7b9cd4;
    height: 168px;
    float: left;
    font-size: 23px;
    font-weight: bold; }
    #content .flow-content-first .flow-step .flow-step-num {
      font-size: 34px; }
  #content .flow-content-first .flow-info-first {
    margin-left: 110px;
    background-color: #eaf4ff; }
    #content .flow-content-first .flow-info-first .flow-title {
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 24px;
      color: #7b9cd4; }
    #content .flow-content-first .flow-info-first .flow-contact {
      background: white url("../img/content/flow_contact_bg.jpg") no-repeat 0 0 scroll;
      height: 49px;
      position: relative; }
      #content .flow-content-first .flow-info-first .flow-contact .flow-contact-btn {
        position: absolute;
        top: 10px;
        right: 10px; }
  #content .flow-content .flow-step {
    text-transform: uppercase;
    color: white;
    width: 110px;
    text-align: right;
    padding: 20px 10px 0 30px;
    background-color: #7b9cd4;
    float: left;
    font-size: 23px;
    font-weight: bold; }
    #content .flow-content .flow-step .flow-step-num {
      font-size: 34px; }
  #content .flow-content .flow-info {
    margin-left: 110px;
    background-color: #eaf4ff;
    padding: 20px 20px 0 20px; }
    #content .flow-content .flow-info .flow-title {
      padding-bottom: 10px;
      font-size: 24px;
      color: #7b9cd4; }
    #content .flow-content .flow-info .flow-contact {
      background: white url("../img/content/flow_contact_bg.jpg") no-repeat 0 0 scroll;
      height: 49px;
      position: relative; }
      #content .flow-content .flow-info .flow-contact .flow-contact-btn {
        position: absolute;
        top: 10px;
        right: 10px; }
  #content .flow-step2 {
    height: 154px; }
  #content .flow-step3 {
    height: 155px; }
  #content .flow-arrow {
    text-align: center; }
  #content .import-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    #content .import-list li {
      line-height: 1.2em;
      border-bottom: 2px dotted #4fb2a8;
      padding-bottom: 7px;
      margin-top: 8px;
      color: #4fb2a8;
      font-size: 21px;
      font-family: MS Gothic !important; }
    #content .import-list li:first-child {
      margin-top: 0; }
  #content .import-note {
    color: #4fb2a8;
    font-size: 29px;
    text-align: center;
    margin-top: 30px; }
  #content .importcomponent-group .importcomponent-row {
    margin-top: 20px;
    position: relative; }
    #content .importcomponent-group .importcomponent-row .import-space {
      position: absolute;
      bottom: -47px;
      left: -43px;
      width: 760px;
      text-align: center;
      z-index: -9999; }
    #content .importcomponent-group .importcomponent-row .importcomponent-col {
      float: left; }
  #content .importcomponent-group .importcomponent-row:first-child {
    margin-top: 0; }
  #content .importcomponent-group .importcomponent-bg {
    z-index: 9999; }
  #content .importcomponent-group.importcomponent-col160 .import-other-col {
    width: 166px;
    float: left;
    margin-left: 10px; }
    #content .importcomponent-group.importcomponent-col160 .import-other-col .import-other-info {
      border: 1px solid #6c9bd2;
      padding: 10px 5px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      background-color: #eaf4ff; }
      #content .importcomponent-group.importcomponent-col160 .import-other-col .import-other-info .other-title {
        color: #6c9bd2;
        font-size: 16px; }
        #content .importcomponent-group.importcomponent-col160 .import-other-col .import-other-info .other-title .fa {
          padding-right: 5px;
          font-size: 25px; }
      #content .importcomponent-group.importcomponent-col160 .import-other-col .import-other-info .other-text {
        padding-top: 8px;
        font-size: 11px;
        line-height: 1.3em !important; }
    #content .importcomponent-group.importcomponent-col160 .import-other-col .import-other-oinfo {
      height: 77px;
      border: 1px solid #6c9bd2;
      padding: 25px 5px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      background-color: #eaf4ff; }
      #content .importcomponent-group.importcomponent-col160 .import-other-col .import-other-oinfo .other-title {
        color: #6c9bd2;
        font-size: 16px;
        line-height: 16px; }
        #content .importcomponent-group.importcomponent-col160 .import-other-col .import-other-oinfo .other-title .fa {
          padding-right: 5px;
          font-size: 25px; }
        #content .importcomponent-group.importcomponent-col160 .import-other-col .import-other-oinfo .other-title .other-space {
          margin-top: 10px; }
  #content .importcomponent-group.importcomponent-col160 .importcomponent-col {
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border-radius: 160px;
    border: 1px solid #6c9bd2;
    width: 160px;
    height: 160px;
    margin-left: 10px;
    color: #6c9bd2;
    background-color: white; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-col .importcomponent-title {
      border-bottom: 2px dotted #95c5e4;
      padding: 14px 14px 0 14px;
      margin: 0 3px;
      text-align: center;
      font-size: 23px;
      font-weight: bold; }
      #content .importcomponent-group.importcomponent-col160 .importcomponent-col .importcomponent-title .title_num {
        font-size: 34px; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-col .importcomponent-text {
      text-align: center;
      font-size: 16px;
      padding: 10px;
      line-height: 1.2em; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-col .importcomponent-text-s20 {
      font-size: 20px !important; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-col .importcomponent-text-s18 {
      font-size: 17px !important; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-col .importcomponent-text-s13 {
      font-size: 13px !important;
      padding: 10px 0 0 0 !important; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-col .importcomponent-text-s16 {
      font-size: 15px !important;
      padding: 10px 0 0 0 !important; }
  #content .importcomponent-group.importcomponent-col160 .importcomponent-bottom-note {
    float: right;
    margin-top: 15px; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-bottom-note .importcomponent-bottom-clr1 {
      width: 42px;
      height: 21px;
      background: #6c9bd2;
      margin-right: 8px;
      float: left; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-bottom-note .importcomponent-bottom-text1, #content .importcomponent-group.importcomponent-col160 .importcomponent-bottom-note .importcomponent-bottom-text2 {
      float: left;
      font-size: 14px;
      font-weight: bold; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-bottom-note .importcomponent-bottom-clr2 {
      width: 42px;
      height: 21px;
      background: white;
      border: 1px solid #709ed3;
      margin: 0 8px 0 20px;
      float: left; }
  #content .importcomponent-group.importcomponent-col160 .importcomponent-clr {
    background-color: #6c9bd2 !important;
    color: #fff !important; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-clr .importcomponent-title {
      border-bottom: 2px dotted white;
      padding: 14px 14px 0 14px;
      margin: 0 3px;
      text-align: center;
      font-size: 23px;
      font-weight: bold; }
      #content .importcomponent-group.importcomponent-col160 .importcomponent-clr .importcomponent-title .title_num {
        font-size: 34px; }
  #content .importcomponent-group.importcomponent-col160 .importcomponent-arrow {
    float: left;
    color: #ffb95a;
    font-size: 40px;
    line-height: 160px;
    margin-left: 10px; }
  #content .importcomponent-group.importcomponent-col160 .importcomponent-col:first-child {
    margin-left: 0; }
  #content .importcomponent-group.importcomponent-col160 .importcomponent-col:last-child {
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border-radius: 160px;
    border: 1px solid #6c9bd2;
    width: 160px;
    height: 160px;
    margin-left: 10px;
    color: #6c9bd2;
    background-color: #eaf4ff; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-col:last-child .importcomponent-title {
      border-bottom: 2px dotted #95c5e4;
      padding: 14px 14px 0 14px;
      margin: 0 3px;
      text-align: center;
      color: #6c9bd2;
      font-size: 23px;
      font-weight: bold; }
      #content .importcomponent-group.importcomponent-col160 .importcomponent-col:last-child .importcomponent-title .title_num {
        font-size: 34px; }
    #content .importcomponent-group.importcomponent-col160 .importcomponent-col:last-child .importcomponent-text {
      text-align: center;
      font-size: 20px;
      padding: 10px; }
  #content .check-table-content {
    margin-top: 20px; }
    #content .check-table-content tr th {
      padding: 10px 10px 10px 8px;
      border: 1px solid #4fb2a8; }
    #content .check-table-content tr th {
      background-color: #fffbc7;
      width: 230px;
      font-weight: normal; }
    #content .check-table-content tr td {
      padding: 10px 0 10px 8px;
      border: 1px solid #4fb2a8;
      background-color: #fffeee; }
      #content .check-table-content tr td .check-text-clr {
        color: #446191; }
  #content .check-note1 {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #595757;
    padding-bottom: 3px; }
  #content .check-note2 {
    margin-top: 10px;
    background-color: #fffbc7;
    color: #5675a8;
    padding: 10px;
    font-size: 13.5px; }
  #content .checkcomponent-group .checkcomponent-row {
    margin-top: 20px; }
    #content .checkcomponent-group .checkcomponent-row .checkcomponent-col {
      float: left; }
  #content .checkcomponent-group .checkcomponent-row:first-child {
    margin-top: 0; }
  #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-col {
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    border-radius: 160px;
    border: 1px solid #6c9bd2;
    width: 160px;
    height: 160px;
    margin-left: 11px;
    color: #6c9bd2; }
    #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-col .checkcomponent-title {
      border-bottom: 2px dotted #95c5e4;
      padding: 14px 14px 0 14px;
      margin: 0 3px;
      text-align: center;
      font-size: 23px;
      font-weight: bold; }
      #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-col .checkcomponent-title .title_num {
        font-size: 34px; }
    #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-col .checkcomponent-text {
      text-align: center;
      font-size: 16px;
      padding: 10px;
      line-height: 1.2em; }
    #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-col .check-text-s20 {
      font-size: 20px !important; }
    #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-col .check-text-s16 {
      font-size: 15px !important;
      padding: 10px 0 0 0 !important; }
  #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-bottom-note {
    margin-top: 138px; }
    #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-bottom-note .checkcomponent-bottom-clr {
      width: 42px;
      height: 21px;
      background: #6c9bd2;
      margin-right: 10px;
      float: left; }
  #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-clr {
    background-color: #6c9bd2 !important;
    color: #fff !important; }
    #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-clr .checkcomponent-title {
      border-bottom: 2px dotted white;
      padding: 14px 14px 0 14px;
      margin: 0 3px;
      text-align: center;
      font-size: 23px;
      font-weight: bold; }
      #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-clr .checkcomponent-title .title_num {
        font-size: 34px; }
  #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-arrow {
    float: left;
    color: #ffb95a;
    font-size: 40px;
    line-height: 160px;
    margin-left: 11px; }
  #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-col:first-child {
    margin-left: 0; }
  #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-space1 {
    margin-left: 100px !important; }
  #content .checkcomponent-group.checkcomponent-col160 .checkcomponent-space2 {
    margin-left: 200px !important; }
  #content .post-row-content .blog-btnrm {
    float: right; }
    #content .post-row-content .blog-btnrm a {
      padding: 5px 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #6bbeb6;
      color: white; }
    #content .post-row-content .blog-btnrm a:hover {
      padding: 5px 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: white;
      color: #6bbeb6;
      border: 1px solid #6bbeb6; }
  #content .post-row-content .post-row-meta .fa {
    padding: 0 5px 0 20px; }
  #content .post-row-content .post-row-meta .fa:first-child {
    padding-right: 5px;
    padding-left: 0; }
  #content .post-row-content .post-row-meta .blog-category a {
    color: #6bbeb6; }
  #content .post-row-content .blog-content {
    margin-top: 20px; }
  #content .navigation {
    margin-top: 15px; }
    #content .navigation a {
      color: #6bbeb6; }
  #content .wp-pagenavi {
    margin-top: 40px;
    text-align: center; }
    #content .wp-pagenavi .pages, #content .wp-pagenavi .previouspostslink, #content .wp-pagenavi .page, #content .wp-pagenavi .nextpostslink {
      background-color: #6bbeb6;
      color: #fff; }
    #content .wp-pagenavi span.current {
      border-color: #6bbeb6 !important; }
